@import 'colors.css';

* {
  font-family: "FiraCode Nerd Font Propo";
  font-weight: 500;
  font-size: 13px;
  /* border: red 1px solid; */
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-height: 0;
} 

window#waybar {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
}

#clock, 
#battery, 
#backlight, 
#cpu, 
#temperature, 
#memory, 
#network, 
#pulseaudio {
  color: @primary;
  background-color: @background;
  transition: background-color 300ms ease-in-out;
  border-radius: 100px;
  padding: 0px 12px;
  margin: 0px 5px;
}

#clock:hover, 
#battery:hover, 
#backlight:hover, 
#cpu:hover, 
#temperature:hover, 
#memory:hover, 
#network:hover, 
#pulseaudio:hover:hover, 
#custom-power:hover, 
#custom-launcher:hover {
  background-color: @on_primary_fixed_variant;
  transition: background-color 300ms ease-in-out;
}

#workspaces, 
#custom-power, 
#custom-launcher {
  color: @primary;
  background-color: @background;
  /* border-radius: 100px; */
  padding: 0px 14px;
  transition: all 500ms ease
  /* margin: 0px 5px; */
}

#workspaces {
  padding: 6px;
}

#workspaces button {
  padding: 0px 8px;
  min-height: 0px;
  min-width: 0px;
  /* min-width: 30px; */
  background: @inverse_primary;
  color: @primary;
  transition: all 100ms ease-in-out;
  border-radius: 100px;
}

#workspaces button:not(:last-child) {
  margin-right: 8px;
}

#workspaces button:hover {
  background: @inverse_primary;
  color: @primary;
}


#workspaces button.active, 
#workspaces button:hover.active {
  transition: all 100ms ease-in-out;
  background: @primary;
  color: @background;
  /* padding: 0 20px; */
  border-radius: 3px;
}

#custom-launcher {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}


#custom-power {
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}


tooltip {
  background-color: @background;
  border-radius: 10px;
  font-size: 10px;
  color: @primary;
}