@import 'colors.css';

* {
  all: unset;
  font-family: "FiraCode Nerd Font Propo";
  font-weight: 500;
  font-size: 13;
}

#clock, 
#battery, 
#backlight, 
#cpu, 
#temperature, 
#memory, 
#network, 
#pulseaudio {
  color: @primary;
  background-color: @background;
  transition: background-color 300ms ease-in-out;
  border-radius: 100;
  padding: 0 12;
  margin: 0 5;
}

#clock:hover, 
#battery:hover, 
#backlight:hover, 
#cpu:hover, 
#temperature:hover, 
#memory:hover, 
#network:hover, 
#pulseaudio:hover:hover {
  background-color: @on_primary_fixed_variant;
  transition: background-color 100ms ease-in-out;
}

#workspaces, 
#custom-power, 
#custom-launcher {
  color: @primary;
  background-color: @background;
  padding: 0 14;
}

#workspaces {
  padding: 6;
}

#workspaces button {
  padding: 0 8;
  background: @inverse_primary;
  color: @primary;
  border-radius: 100;
  transition: border-radius 100ms ease;
}

#workspaces button:not(:last-child) {
  margin-right: 8;
}

#workspaces button:hover {
  background: @inverse_primary;
  color: @primary;
}

#workspaces button.active, 
#workspaces button:hover.active {
  background: @primary;
  color: @background;
  border-radius: 3;
}

#custom-launcher {
  border-bottom-left-radius: 100;
  border-top-left-radius: 100;
  font-size: 15px;
}

#custom-power {
  border-bottom-right-radius: 100;
  border-top-right-radius: 100;
  font-size: 15px;
}

tooltip {
  background-color: @background;
  border-radius: 10;
  font-size: 10;
  color: @primary;
}
