* {
    primary: #d4bbfc;
    primary-fixed: #ebdcff;
    primary-fixed-dim: #d4bbfc;
    on-primary: #39255b;
    on-primary-fixed: #240e45;
    on-primary-fixed-variant: #503c74;
    primary-container: #503c74;
    on-primary-container: #ebdcff;
    secondary: #cdc2db;
    secondary-fixed: #eadef7;
    secondary-fixed-dim: #cdc2db;
    on-secondary: #342d40;
    on-secondary-fixed: #1f182a;
    on-secondary-fixed-variant: #4b4358;
    secondary-container: #4b4358;
    on-secondary-container: #eadef7;
    tertiary: #f1b7c4;
    tertiary-fixed: #ffd9e0;
    tertiary-fixed-dim: #f1b7c4;
    on-tertiary: #4a252f;
    on-tertiary-fixed: #32101a;
    on-tertiary-fixed-variant: #643b45;
    tertiary-container: #643b45;
    on-tertiary-container: #ffd9e0;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #151218;
    on-surface: #e7e0e8;
    on-surface-variant: #cbc4cf;
    outline: #948e99;
    outline-variant: #49454e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e7e0e8;
    inverse-on-surface: #322f35;
    inverse-primary: #69548d;
    surface-dim: #151218;
    surface-bright: #3b383e;
    surface-container-lowest: #0f0d13;
    surface-container-low: #1d1b20;
    surface-container: #211f24;
    surface-container-high: #2c292f;
    surface-container-highest: #37343a;
}