@import "colors.rasi"

* {
  font: "Google Sans Regular 12";
  background-color: transparent;
  text-color: @inverse-surface;
  margin: 0;
  padding: 0;
  spacing: 0;
}

element-icon, element-text, scrollbar {
  cursor: pointer;
}

window {
  location : center;
  width    : 360px;
  padding: 16px;
  x-offset : 0px;
  y-offset : 0px;
  background-color: @surface;
  border: 2px;
  border-color: @primary;
  border-radius: 8px;
}

inputbar {
  padding : 8px 16px;
  margin: 0px 0px 12px;
  /* children : [ prompt, entry ]; */
  children : [ entry ];
  background-color: @on-primary;
  border-radius: 100px;
}

prompt {
  padding: 0px 8px 0px 0px;
}

entry, element-icon, element-text {
  vertical-align: 0.5;
}

textbox {
  padding          : 4px 8px;
  background-color : @surface;
}

listview {
  lines        : 8;
  columns      : 1;
  scrollbar    : false;
  fixed-height : false;
  dynamic      : true;
}

element {
  padding : 8px 16px;
  spacing: 4px;
  border-radius: 100px;
}

element selected {
  text-color       : @on-primary;
  background-color : @primary;
}

element selected urgent {
  background-color: @error;
}

element-icon {
  size: 1em;
  margin: 0px 12px 0px 0px;
}

element-text {
  text-color: inherit;
}

scrollbar {
  handle-width : 0px;
  padding      : 0px;
}