@import "colors.rasi"

* {
  font:   "SF Pro Display Regular 12";
  background-color: transparent;
  text-color: @inverse-surface;
  margin  : 0;
  padding : 0;
  spacing : 0;
}

element-icon, element-text, scrollbar {
  cursor: pointer;
}

window {
  location: center;
  width: 300px;
  padding: 16px;
  x-offset : 0px;
  y-offset : 0px;
  background-color: @surface;
  border: 2px;
  border-color: @primary;
  border-radius: 6px;
}

inputbar {
  padding : 8px 12px;
  margin: 0px 0px 8px;
  background-color: @on-primary;
  border-radius: 100px;
}

textbox {
  padding: 4px 8px;
  background-color: @on-primary-fixed;
}

listview {
  padding      : 0px;
  lines        : 10;
  columns      : 1;
  scrollbar    : false;
  fixed-height : false;
  dynamic      : true;
}

element {
  padding: 8px 16px;
  spacing: 16px;
  border-radius: 100px;
}

element selected {
  text-color       : @on-primary;
  border: 2px;
  background-color: @primary;
}

element-icon {
  size: 1em;
}

element-text {
  text-color: inherit;
}
