@import "colors.rasi"

configuration {
  show-icons: true;
  icon-theme: "Papirus";
}

* {
  font: "FiraCode Nerd Font Mono Regular 12";
  background-color: transparent;
  text-color: @inverse-surface;
  margin  : 0;
  padding : 0;
  spacing : 0;
}

window {
  location: center;
  width: 200px;
  padding: 16px;
  x-offset: 0px;
  y-offset: 0px;
  background-color: @surface;
  border: 2px;
  border-color: @primary;
  border-radius: 6px;
}

inputbar {
  enabled: false;
}

listview {
  lines        : 6;
  columns      : 1;
  scrollbar    : false;
  fixed-height : false;
  dynamic      : true;
}

element {
  padding: 8px;
  border-radius: 100px;
}

element selected {
  text-color: @on-primary;
  background-color: @primary;
}

element-text {
  text-color: inherit;
}

element-icon, element-text, scrollbar {
  cursor: pointer;
}
